@import "reset.css";

body{
 width: 100%;
 height: 100%;
  background-color: #0a0a0a;
}

.flip {
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
  width: 400px;
  height: 770px;
  perspective: 1100px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: .6s;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  background-image: url(./front.jpg);
  background-size: 400px 770px;
}

.back {
  background-image: url(./back.jpg);
  background-size: 400px 770px;
  transform: rotateY(180deg);
}

.flip:hover .card {
  transform: rotateY(180deg);
}

@media (hover: hover) and (pointer: fine) {

  .flip:active .card {
    transform: rotateY(180deg);
  }

}

@media (max-width: 640px) {

  .flip {
    width: 300px;
    height: 578px;
  }

  .front {
    background-size: 300px 578px;
  }

  .back {
    background-size: 300px 578px;
  }


}
